<div class="ui-g">
  <section class="main">
    <div class="card ui-g-12">
      <div class="ui-g-4">
        <img src="assets/metro.jpg" alt="metro photo" style="width: 100%; height:auto">
      </div>
      <div class="ui-g-8">
        WMATA API client built in a single page application.<br /><br />
        The application displays rail line and station information for Washington Metropolitan Area.<br />
        When the user selects a metro station, the application will display live data of next train arrival for the selected station.
      </div>
    </div>
  </section>
</div>